.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  background-color: lightgrey;
  color: #fff;
  border-radius: 5px;
  padding: 25px;
  font-size: 100%;
}

.wrapper {
  width: 335px;
  height: 335px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(5, 65px);
  grid-template-rows: repeat(5, 65px);
  grid-auto-flow: column;
  margin-left: 2px;
}

.mouth {
  position: absolute;
  background-color: #4f2103;
  width: 28px;
  height: 8px;
  border-radius: 7px 7px 100px 100px;
  top: 25px;
  left: 6px;
}

.eye-section {
    
  width: 40x;
  height: 10px;
  position: absolute;
  left: 30px;
  top: 10px;
}

.left-eye, .right-eye {
  background-color: #4f2103;
  width: 5.2px;
  height: 8px;
  border-radius: 50px;
  position: absolute;
  top: 1px;
}

.right-eye {
  right: 18px;
}

.left-eye::before, .right-eye::before {
  content: "";
  display: block;
  background-color: white;
  width: 2px;
  height: 4px;
  border-radius: 100px;
  position: absolute;
  top: 3px;
  left: 1px
}
